<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%- appTitle %></title>

    <link rel="icon" type="image/png" href="<%- favicon %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% for (var i=0; i < metatags.length; i++) {%>
     <%- metatags[i] %>
    <% } %>


<% if (isProduction) { %>
    <!-- Minified Styles -->
    <link rel="stylesheet" type="text/css" href="dist/styles.css">
<% } else { %>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/styles.css">
<% } %>

    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <%- app %>
    <script type="text/javascript">
      var appEnv = "<%- appEnv %>";
      var path = "<%- path %>";
    </script>

  <% if (isProduction) { %>
    <script async src="dist/bundle.js"></script>
  <% } else { %>
    <script src="http://localhost:3000/bundle.js"></script>
  <% } %>

    <!-- Optimizely -->
    <script src="https://cdn.optimizely.com/js/284748925.js"></script>
    <!-- Optimizely -->

    <!-- OptinMonster -->
    <script src="https://d3a8eyc3bs8buk.cloudfront.net/js/advocacy.js"></script>
    <!-- OptinMonster -->
  </body>
</html>
